@import "public/bower_components/bootstrap/less/bootstrap.less";
@import "mixins.lessimport";

// fix glyphicon path
@icon-font-path: "/bower_components/bootstrap/fonts/";

.btn {
	.caret {
		margin-top: 8px;
	}
}

// apply layout
@single-column-width: 50em;
.main-container {
	.clearfix();
	margin: 1em auto;
	position: relative;
	width: 95%;
	@media (min-width: @single-column-width) {
		width: 80%;
	}
}
.form-container {
	overflow: hidden;
	// height: 30em;
	margin: 0 auto;
	width: 100%;
}
.form {
	.clearfix();
	position: relative;
	.fragment {
		width: 100%;
	}
}

.fragment-control {
	.text-hide();
	cursor: pointer;
	.glyphicon {
		color: @gray;
		font-size: 4rem;
		line-height: 3;
		padding: 0 0.2em;
		&:hover {
			color: #000;
		}
		@media (min-width: @single-column-width) {
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}
	.icon-wrap {
		position: relative;
		@media (min-width: @single-column-width) {
			position: absolute;
			top: 40%;
			left: 0;
		}
	}
	&.prev {
		.icon-wrap {
			float: left;
		}
		.glyphicon {
			@media (min-width: @single-column-width) {
				left: -120%;
			}

		}
	}
	&.next {
		.icon-wrap {
			float: right;
			@media (min-width: @single-column-width) {
				right: 0;
				left: auto;
			}
		}
		.glyphicon {
			@media (min-width: @single-column-width) {
				right: -120%;
			}
		}
	}
}

.field-group {
	margin-bottom: 1em;
}
.error-label {
	font-size: 0.9em;
	font-style: italic;
}
.profile {
	.edit {
		color: rgb(84,84,84);
		cursor: pointer;
		&:hover {
			color: black;
		}
	}
}

.login {
	margin: 0 auto 1em;
	width: 100%;
	@media (min-width: 37.5em) {
		width: 50%;
	}
	label {
		display: block;
		font-size: 1.2em;
	}
	.error {
		font-style: italic;
		font-weight: normal;
		.text-danger;
	}
	input[type="email"],
	input[type="password"] {
		padding: 0.5em;
		width: 100%;
	}
	.alert {
		display: none;
	}
}
.page-header {
	line-height: 1.4;
}

.logout {
	.pull-right();
}

// Resume
.app-actions {
	.pull-right();
	margin-top: 2em;
	#app-submit {
		margin-left: 1em;
	}
}