<template name="essay-one">
	{{#with app}}
	<form id="essay-one" name="essay" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group essay">
			<label for="essay.one" class="control-label"> How did you hear about SEO-Vietnam and why do you want to apply to our summer program?</label>
			<textarea name="essay.one" class="form-control">{{essay.one}}</textarea>
			<div class="control-label"><span class="counter"></span><span> words remaining</span></div>
		</div>
	</form>
	{{/with}}
</template>