<template name="essay-one">
	{{#with app}}
	<form id="essay-one" name="essay" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group essay">
			<label for="essay.one" class="control-label"> How did you hear about SEO-Vietnam and why do you want to apply to our summer program?</label>
			<textarea name="essay.one" class="form-control">{{essay.one}}</textarea>
			<div class="control-label"><span class="counter"></span><span> words remaining</span></div>
		</div>
	</form>
	{{/with}}
</template>

<template name="essay-two">
	{{#with app}}
	<form id="essay-two" name="essay" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group essay">
			<label for="essay.{{section.id}}" class="control-label">Why should we pick you?</label>
			<textarea name="essay.two" class="form-control">{{essay.two}}</textarea>
			<div class="control-label"><span class="counter"></span><span> words remaining</span></div>
		</div>
	</form>
	{{/with}}
</template>

<template name="essay-three">
	{{#with app}}
	<form id="essay-three" name="essay" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group essay">
			<label for="essay.three" class="control-label"> What does community service mean to you and what have you done to help your community?</label>
			<textarea name="essay.three" class="form-control">{{essay.three}}</textarea>
			<div class="control-label"><span class="counter"></span><span> words remaining</span></div>
		</div>
	</form>
	{{/with}}
</template>

<template name="essay-four">
	{{#with app}}
	<form id="essay-four" name="essay" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group essay">
			<label for="essay.four" class="control-label"> Where do you see yourself in the next 5 years?</label>
			<textarea name="essay.four" class="form-control">{{essay.four}}</textarea>
			<div class="control-label"><span class="counter"></span><span> words remaining</span></div>
		</div>
	</form>
	{{/with}}
</template>

<template name="essay-five">
	{{#with app}}
	<form id="essay-five" name="essay" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group essay">
			<label for="essay.five" class="control-label"> Tell us something about yourself that you are really proud of. (Optional)</label>
			<textarea name="essay.five" class="form-control">{{essay.five}}</textarea>
			<div class="control-label"><span class="counter"></span><span> words remaining</span></div>
		</div>
	</form>
	{{/with}}
</template>