<template name="professional">
	<form id="professional" name="professional" class="fragment" method="post" action="">
		<h2>Professional Interests</h2>
		<div class="form-group">
			<label class="control-label">Industries</label>
			{{#each industries}}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="industries" value="{{slug}}" {{checked slug ../industries}}>{{name}}
				</label>
			</div>
			{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="professions" class="control-label">Functions</label>
			{{#each professions}}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="professions" value="{{slug}}" {{checked slug ../professions}}>{{name}}
				</label>
			</div>
			{{/each}}
			</select>
		</div>
	</form>
</template>