<template name="profile">
	<div class="profile">
		<div class="actions">
			<button class="btn btn-primary edit-app">Edit your application</button>
			{{> logout}}
		</div><!-- .actions -->
		{{#with user}}
			<h1 class="title">{{displayname}}</h1>
			{{> display-personal-info}}
		{{/with}}
		{{#with app}}
			<h3 class="section-title">Education</h3>
				{{> display-education}}
			<h3 class="section-title">Qualifications</h3>
				{{> display-qualifications}}
			<h3 class="section-title">Professional Interests</h3>
				{{> display-professional}}
			<h3 class="section-title">Essays</h3>
				{{> display-essays}}
			<h3 class="section-title">Files</h3>
				{{> display-files}}
			<button class="btn btn-primary edit-app">Edit your application</button>
		{{/with}}
	</div>
</template>

<!-- requires a user context -->
<template name="display-personal-info">
	<div class="field-group">
		<label for="email">Email</label>
		<div class="value">{{userEmail}}</div>
	</div>
	<div class="field-group">
		<label for="country-residence">Country of Residence</label>
		<div class="value">{{getInfoName 'country' profile.country-residence}}</div>
	</div>
	<div class="field-group">
		<label for="phone">Phone Number</label>
		<div class="value">{{profile.phone}}</div>
	</div>
</template>

<!-- requires app context -->
<template name="display-education">
	<div class="field-group">
		<label for="college">College/ University</label>
		<div class="value">{{getInfoName 'college' college}} '{{date graduation-date 'YY' 'YYYY'}}</div>
	</div>
	<div class="field-group">
		<label for="major">Major</label>
		<div class="value">{{{getAppValue 'major'}}}</div>
	</div>
	<div class="field-group">
		<label for="degree">Degree</label>
		<div class="value">{{degree}}</div>
	</div>
</template>

<!-- requires app context -->
<template name="display-qualifications">
	<h4>Standardized Tests</h4>
	<em>SAT</em>
	<div class="field-group">
		<label for="sat-writing">Writing</label>
		<div class="value">{{sat.writing}}</div>
	</div>
	<div class="field-group">
		<label for="sat-reading">Reading</label>
		<div class="value">{{sat.reading}}</div>
	</div>
	<div class="field-group">
		<label for="sat-math">Math</label>
		<div class="value">{{sat.math}}</div>
	</div>

	<em>Others</em>
	<div class="field-group">
		<label for="toefl">TOEFL</label>
		<div class="value">{{tests.toefl}}</div>
	</div>
	<div class="field-group">
		<label for="ielts">IELTS</label>
		<div class="value">{{tests.ielts}}</div>
	</div>
	<div class="field-group">
		<label for="gre">GRE</label>
		<div class="value">{{tests.gre}}</div>
	</div>
	<div class="field-group">
		<label for="gmat">GMAT</label>
		<div class="value">{{tests.gmat}}</div>
	</div>

	<h4>Language Proficiency</h4>
	<div class="field-group">
		<div>
			<label>Fluent</label>
			<div class="value">{{{getLanguage language 'fluent'}}}</div>
		</div>
		<div>
			<label>Intermediate</label>
			<div class="value">{{{getLanguage language 'intermediate'}}}</div>
		</div>
		<div>
			<label>Basic understanding</label>
			<div class="value">{{{getLanguage language 'basic'}}}</div>
		</div>
	</div>
</template>

<!-- requires app context -->
<template name="display-professional">
	<div class="field-group">
		<label for="industry">Industries</label>
		<div class="value">{{{getAppValue 'industry'}}}</div>
	</div>
	<div class="field-group">
		<label for="profession">Professions</label>
		<div class="value">{{{getAppValue 'profession'}}}</div>
	</div>
</template>

<!-- requires app context -->
<template name="display-essays">
	{{#each essays}}
		<div class="field-group essay">
			<label for="{{name}}">{{question}}</label>
			<div class="value">{{{getEssay ../essay id}}}</div>
		</div>
	{{/each}}
</template>

<!-- requires app context -->
<template name="display-files">
	{{#if files}}
	<ul>
		{{#each files}}
			<li class="field-group">
				{{#if file.url}}
					<a href="{{file.url}}">View uploaded {{label}}.</a>
				{{else}}
					No {{label}} uploaded yet.
				{{/if}}
			</li>
		{{/each}}
	</ul>
	{{else}}
		<p>No file has been uploaded yet.</p>
	{{/if}}
</template>