<template name="professional">
	<form id="professional" name="professional" class="fragment" method="post" action="">
		<h2>Professional Interests</h2>
		<div class="form-group">
			<label class="control-label">Industries</label>
			{{#each industries}}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="industry" value="{{slug}}" {{checked slug ../industry}}>{{name}}
				</label>
			</div>
			{{/each}}
			</select>
		</div>
		{{#with 'industry'}}
			{{> add-own-content}}
		{{/with}}
		<div class="form-group">
			<label for="profession" class="control-label">Professions</label>
			{{#each professions}}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="profession" value="{{slug}}" {{checked slug ../profession}}>{{name}}
				</label>
			</div>
			{{/each}}
			</select>
		</div>
		{{#with 'profession'}}
			{{> add-own-content}}
		{{/with}}
	</form>
</template>