<template name="qualifications">
	<form id="qualifications" name="qualifications" class="fragment form-horitzontal" method="post" action="">
	<h2>Qualifications</h2>

		<div class="form-group" name="language">
			{{#each languages}}
				<label for="{{slug}}" class="control-label">Fluency in {{name}}</label>
				<select class="form-control" id="{{slug}}" name="{{slug}}">
					<option value="none">None</option>
					<option value="fluent">Fluent</option>
				</select>
			{{/each}}
		</div>

		<div class="form-group" name="sat">
			<h3>SAT Scores</h3>
			<div class="field-group">
				<label for="writing">Writing</label>
				<input type="text" name="writing" value="{{sat.writing}}"/>
			</div>
			<div class="field-group">
				<label for="reading">Reading</label>
				<input type="text" name="reading" value="{{sat.reading}}"/>
			</div>
			<div class="field-group">
				<label for="math">Math</label>
				<input type="text" name="math" value="{{sat.math}}"/>
			</div>
		</div>
	</form>
</template>