<template name="qualifications">
	<form id="qualifications" name="qualifications" class="fragment form-horitzontal qualifications" method="post" action="">
	<h2>Qualifications</h2>

		<div class="form-group languages" name="language">
			<h3>Language Proficiency</h3>
			{{#each languages}}
				<label class="control-label">
					{{name}}
				</label>
				<div class="radio">
					<label><input type="radio" name="{{slug}}" value="fluent" {{language-checked slug 'fluent'}}>Fluent</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="{{slug}}" value="intermediate" {{language-checked slug 'intermediate'}}>Intermediate</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="{{slug}}" value="basic" {{language-checked slug 'basic'}}>Basic Understanding</label>
				</div>
			{{/each}}
		</div>

		<h3>Standardized Test Scores</h3>
		<div class="form-group sat" name="sat">
			<h4>SAT</h4>
			<div class="field-group">
				<label for="writing">Writing</label>
				<input type="text" name="writing" value="{{sat.writing}}"/>
			</div>
			<div class="field-group">
				<label for="reading">Reading</label>
				<input type="text" name="reading" value="{{sat.reading}}"/>
			</div>
			<div class="field-group">
				<label for="math">Math</label>
				<input type="text" name="math" value="{{sat.math}}"/>
			</div>
		</div>
		<div class="form-group others" name="tests">
			<h4>Others</h4>
			<div class="field-group">
				<label for="toefl">TOEFL IBT</label>
				<input type="text" name="toefl" value="{{tests.toefl}}" />
			</div>
			<div class="field-group">
				<label for="ielts">IEFLTS</label>
				<input type="text" name="ielts" value="{{tests.ielts}}" />
			</div>
			<div class="field-group">
				<label for="gre">GRE</label>
				<input type="text" name="gre" value="{{tests.gre}}" />
			</div>
			<div class="field-group">
				<label for="gmat">GMAT</label>
				<input type="text" name="gmat" value="{{tests.gmat}}" />
			</div>
		</div>
	</form>
</template>