<template name="resume">
	<form id="resume" name="resume" class="fragment" method="post" action="">
		<h2>Resume</h2>
		{{#unless file-resume.name}}
			{{> resume-upload}}
		{{else}}
		<div class="resume-uploaded">
			<label class="control-label">You have uploaded your resume.</label>
			<ul>
				<li><a class="" href="{{file-resume.url}}">View uploaded file</a></li>
				<li><a id="remove-file" href="#">Remove</a></li>
				<li><a id="reupload" href="#">Upload another file</a></li>
			</ul>
		</div>
		{{/unless}}
	</form>
</template>