<template name="resume">
	<form id="resume" name="resume" class="fragment" method="post" action="">
		<h2>Resume</h2>
		<div class="form-group field-group">
			<label for="file-resume" class="control-label">Please upload your resume</label>
			<input type='file' name="file-resume" id="file-resume" accept="application/pdf,text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
			<p class="help-block">Accepted file formats are: PDF, DOC, DOCX, TXT and RTF.</p>
			<button class="btn btn-default" id="resume-submit">Upload</button>
		</div>
	</form>
</template>