<template name="admin">
	{{> admin-menu}}
	<div class="admin-content">
		<h1>Hello admin!</h1>
		{{> logout}}
		{{> admin-stats}}
	</div>
</template>

<template name="admin-stats">
	<div class="stats">
		<h2>Some basic stats</h2>
		<div>
			<label>Total number of apps:</label> {{totalApps}}
		</div>
		<div>
			<label>Submitted apps: </label> {{submittedApps}}
		</div>
		<div>
			<label>Completed apps (essays and resume): </label> {{completedApps}}
		</div>
		<div>
			<label>Number of users: </label> {{numUsers}}
		</div>
	</div>
	<button class="btn btn-primary" id="assign-apps">Assign apps</button>
	<ul class="assignment-output"></ul>
</template>

<template name="oops">
	<h1>Ooops!</h1>
</template>

<template name="admin-menu">
	<i class="nav-icon fa fa-bars"></i>
	<div class="nav-menu">
		<h3>Menu</h3>
		<ul class="">
			<li class="nav-menu-item"><a href="{{pathFor 'admin-apps'}}">Applications</a>
				<ul>
					<li class="sub-nav-menu-item"><a href="{{pathFor 'admin-apps'}}"><i class="fa fa-angle-right"></i>All</a></li>
					<li class="sub-nav-menu-item"><a href="{{pathFor 'admin-apps-completed'}}"><i class="fa fa-angle-right"></i>Completed</a></li>
				</ul>
			</li>
			<li class="nav-menu-item"><a href="{{pathFor 'admin-users'}}">Users</a></li>
		</ul>
	</div>
</template>