<template name="admin-app-single">
	{{> admin-menu}}
	{{#with user}}
		<h2>{{displayname}} - Application</h2>
	{{/with}}
	{{> notifications}}
	{{> edit}}
	<form id="admin-app-single" data-id="{{app._id}}" data-applicantid="{{user._id}}">
		<div class="{{#if editing}}form-group{{else}}field-group{{/if}}">
			<label for "status" class="{{#if editing}}control-label{{/if}}">Status</label>
			{{#if editing}}
				<select name="status" id="status" class="form-control">
					{{#each statuses}}
						<option value="{{slug}}" {{selected slug ../app.status}}>{{name}}</option>
					{{/each}}
				</select>
			{{else}}
				<div class="value">{{app.status}}</div>
			{{/if}}
		</div><!-- .form-group status -->
		<div class="{{#if editing}}form-group{{else}}field-group{{/if}}" id="graders">
			<label for "grader" class="{{#if editing}}control-label{{/if}}">Graders</label>
			{{#if editing}}
				<div class="editing">
				{{#each gradersAssigned}}
					<div class="edit-grader">
						<select name="graders" class="graders form-control">
							{{#if noAssessorFound}}
								<option value="{{_id}}" selected>No grader found for id {{_id}}</option>
							{{/if}}
							{{#each ../graders}}
								<option value="{{_id}}" {{selected _id ../_id}}>{{profile.name.first}} {{profile.name.last}} ({{emails.0.address}})</option>
							{{/each}}
						</select>
						<a href="#" class="remove">Remove</a>
					</div><!-- .edit-grader -->
				{{/each}}
				</div><!-- .editing -->
				<button id="add-grader" class="btn">+ Add Grader</button>
			{{else}}
				<div class="value list-group">
				{{#each gradersAssigned}}
					{{#if noAssessorFound}}
						<span class="list-item">No grader found for id {{_id}}
					{{else}}
						<span class="list-item">{{name}} ({{email}})</span>
					{{/if}}
				{{/each}}
				</div>
			{{/if}}
		</div><!-- .form-group #graders -->
		<div class="{{#if editing}}form-group{{else}}field-group{{/if}}" id="interviewers">
			<label for "interviewer" class="{{#if editing}}control-label{{/if}}">Interviewers</label>
			{{#if editing}}
				<div class="editing">
				{{#each interviewersAssigned}}
					<div class="edit-interviewer">
						<select name="interviewers" class="interviewers form-control">
							{{#if noAssessorFound}}
								<option value="{{_id}}" selected>No interviewer found for id {{_id}}</option>
							{{/if}}
							{{#each ../interviewers}}
								<option value="{{_id}}" {{selected _id ../_id}}>{{profile.name.first}} {{profile.name.last}} ({{emails.0.address}})</option>
							{{/each}}
						</select>
						<a href="#" class="remove">Remove</a>
					</div><!-- .edit-interviewer -->
				{{/each}}
				</div><!-- .editing -->
				<button id="add-interviewer" class="btn">+ Add Interviewer</button>
			{{else}}
				<div class="value list-group">
				{{#each interviewersAssigned}}
					{{#if noAssessorFound}}
						<span class="list-item">No interviewer found for id {{_id}}
					{{else}}
						<span class="list-item">{{name}} ({{email}})</span>
					{{/if}}
				{{/each}}
				</div>
			{{/if}}
		</div><!-- .form-group #interviewers -->
		{{#with user}}
			{{> display-personal-info}}
		{{/with}}
		{{> display-grades}}
		{{#with app}}
			<h2 class="section-title">Education</h2>
				{{> display-education}}
			<h2 class="section-title">Qualifications</h2>
				{{> display-qualifications}}
			<h2 class="section-title">Professional Interests</h2>
				{{> display-professional}}
			<h2 class="section-title">Essays</h2>
				{{> display-essays}}

			<h3 class="section-title">Files</h3>
				{{> display-files}}
		{{/with}}
	</form>
</template>

<template name="display-grades">
	<div class="grades">
		<h3>Grades</h3>
		{{#each gradersAssigned}}
			<div class="grade">
				<div class="field-group">
					<h5 class="title">Grader</h5>
					<div class="value" data-id="{{_id}}">{{name}} ({{email}})</div>
				</div>
				{{#each criteria}}
					<div class="criterion field-group">
						<h5 class="title">{{title}}</h5>
						{{#if factors}}
							{{#each factors}}
								<div>
									<label>{{title}}</label>
									<div class="value">
									{{score}}</div>
								</div>
							{{/each}}
						{{else}}
							<div class="value">{{score}}</div>
						{{/if}}
					</div>
				{{/each}}
				<div class="field-group">
					<h5 class="title">Total</h5>
					<div class="value">{{total}}</div>
				</div>
			</div>
		{{/each}}
	</div><!-- .grades -->
</template>

<template name="add-grader">
	<div class="add-grader">
		<select name="graders" class="graders form-control">
			<option value=""></option>
			{{#each graders}}
			<option value="{{_id}}">{{profile.name.first}} {{profile.name.last}} ({{emails.0.address}})</option>
			{{/each}}
		</select>
		<a href="#" class="remove">Remove</a>
	</div><!-- .add-grader -->
</template>

<template name="add-interviewer">
	<div class="add-interviewer">
		<select name="interviewers" class="interviewers form-control">
			<option value=""></option>
			{{#each interviewers}}
			<option value="{{_id}}">{{profile.name.first}} {{profile.name.last}} ({{emails.0.address}})</option>
			{{/each}}
		</select>
		<a href="#" class="remove">Remove</a>
	</div><!-- .add-interviewer -->
</template>