<template name="admin-apps">
	<h2>Applications</h2>
	<form id="admin-apps">
		<table id="admin-list-apps" class="admin-list">
			<caption>
				<input class="search" placeholder="Search" />
			</caption>
			<thead>
				<tr>
					<th class="name">Name</th>
					<th class="email">Email</th>
					<th class="status">Status</th>
					<th class="date-created">Date created</th>
					<th class="date-completed">Date submitted</th>
					<th class="grade1">Grade 1</th>
					<th class="grade2">Grade 2</th>
					<th class="grade3">Grade 3</th>
				</tr>
			</thead>
			<tbody class="list">
				{{#each apps}}
					<tr>
						<td class="name"><a href="{{pathFor 'admin-app-single'}}">{{profile.name.first}} {{profile.name.last}}</a></td>
						<td class="email">{{email}}</td>
						<td class="status">{{status}}</td>
						<td class="date-created">{{date createdAt 'MMM Do YYYY, h:mma'}}</td>
						<td class="date-completed">{{date completedAt 'MMM Do YYYY,h:mma'}}</td>
						<td class="grade1"></td>
						<td class="grade2"></td>
						<td class="grade2"></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<ul class="pagination"></ul>
	</form>
</template>

<template name="admin-app-single">
	<h2>Application</h2>
	<label>Status</label>
	<div>{{app.status}}</div>
	{{> profile}}
</template>