<template name="admin-users">
	<h2>Users</h2>
	<form id="admin-users">
		<table id="admin-list-users" class="table admin-list">
			<caption>
				<input type="text" class="search form-control" placeholder="Search {{users.length}} users..." autofocus/>
			</caption>
			<thead>
				<tr>
					<th class="sort" data-sort="name">Name</th>
					<th class="sort" data-sort="email">Email</th>
					<th class="sort" data-sort="date-joined">Date Joined</th>
					<th class="sort" data-sort="roles">Roles</th>
					<th class="sort" data-sort="app">App</th>
				</tr>
			</thead>
			<tbody class="list">
				{{#each users}}
					<tr>
						<td class="name"><a href="{{pathFor 'admin-user-single'}}" title="View User">{{profile.name.first}} {{profile.name.last}}</a></td>
						<td class="email"><a href="{{pathFor 'admin-user-single'}}" title="View User">{{emails.0.address}}</a></td>
						<td class="date-joined">{{date createdAt 'MMM Do YYYY, h:mma'}}</td>
						<td class="roles">{{roles}}</td>
						<td class="app">
						{{#if _appId}}
							<a href="{{pathFor 'admin-app-single'}}">View app</a>
						{{else}}
							Not found
						{{/if}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<ul class="pagination"></ul>
	</form>
</template>

<template name="admin-user-single">
	<h2>User - {{user.profile.name.first}} {{user.profile.name.last}}</h2>
	<div class="notifications"></div>
	<form id="admin-edit-user" data-id="{{user._id}}">
		<div class="field-group">
			<label for="email">Email</label>
			<div class="value">{{user.emails.0.address}}</div>
		</div>
		<div class="form-group">
			<label class="control-label">Roles</label>
			{{#each roles}}
				<div class="checkbox">
					<label><input type="checkbox" name="roles" value="{{this}}" {{roles-check this ../user.roles}}/>{{this}}</label>
				</div>
			{{/each}}
		</div>
		<div>
			<label>App</label>
			{{#if app}}
				<div><a href="{{pathFor 'admin-app-single' app}}">View app</a></div>
			{{else}}
				<div>No application found for this user.</div>
				<button class="btn btn-default" id="create-new-app">Create new app</button>
			{{/if}}
		</div>
		<button class="btn btn-default btn-lg" id="user-save">Save</button>
	</form>


</template>