<template name="admin-users">
	<h2>Users</h2>
	<form id="admin-users">
		<table class="admin-list-users">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Date Joined</th>
					<th>Roles</th>
					<th>App</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr>
						<td><a href="{{pathFor 'admin-user-single'}}" title="View User">{{profile.name.first}} {{profile.name.last}}</a></td>
						<td><a href="{{pathFor 'admin-user-single'}}" title="View User">{{emails.0.address}}</a></td>
						<td>{{date createdAt 'MMM Do YYYY, h:mma'}}</td>
						<td>{{roles}}</td>
						<td>
						{{#if _appId}}
							<a href="{{pathFor 'admin-app-single'}}">View app</a>
						{{else}}
							Not found
						{{/if}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</form>
</template>

<template name="admin-user-single">
	<h2>User - {{user.profile.name.first}} {{user.profile.name.last}}</h2>
	<div class="notifications"></div>
	<form id="admin-edit-user" data-id="{{user._id}}">
		<div class="field-group">
			<label for="email">Email</label>
			<div class="value">{{user.emails.0.address}}</div>
		</div>
		<div class="form-group">
			<label class="control-label">Roles</label>
			{{#each roles}}
				<div class="checkbox">
					<label><input type="checkbox" name="roles" value="{{this}}" {{roles-check this ../user.roles}}/>{{this}}</label>
				</div>
			{{/each}}
		</div>
		<div>
			<label>App</label>
			{{#if app}}
				<div><a href="{{#with app}}{{pathFor 'admin-app-single'}}{{/with}}">View app</a></div>
			{{else}}
				<div>No application found for this user.</div>
				<button class="btn btn-default" id="create-new-app">Create new app</button>
			{{/if}}
		</div>
		<button class="btn btn-default btn-lg" id="user-save">Save</button>
	</form>


</template>