<template name="grader-profile">
	<h2>Grader Profile</h2>
	{{> notifications}}
	{{> logout}}
	{{> edit}}
	<form id="grader-profile" name="grader-profile" method="post" action="" data-graderid="{{graderId}}">
		<div class="field-group">
			<label for="email">Email</label>
			<div class="value">{{email}}</div>
		</div>
		<div class="form-group" name="profile.name">
			<div class="field-group">
				<label for="first" class="{{#if editing}}control-label{{/if}}">First Name</label>
				{{#if editing}}
					<input type="text" name="first" class="form-control" placeholder="First Name" value="{{profile.name.first}}" />
				{{else}}
					<div class="value">{{profile.name.first}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="last" class="{{#if editing}}control-label{{/if}}">Last Name</label>
				{{#if editing}}
					<input type="text" name="last" class="form-control" placeholder="Last Name" value="{{profile.name.last}}" />
				{{else}}
					<div class="value">{{profile.name.last}}</div>
				{{/if}}
			</div>
		</div><!--.form-group profile.name -->
		<div class="form-group">
			<div class="field-group">
				<label for="grader.limit" class="{{#if editing}}control-label{{/if}}">Limit number of apps</label>
				{{#if editing}}
					<input type="number" class="form-control" name="grader.limit" value="{{grader.limit}}">
				{{else}}
					<div class="value">{{grader.limit}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="location" class="{{#if editing}}control-label{{/if}}">Location</label>
				{{#if editing}}
					<select name="grader.location" id="location" class="form-control">
						<option value=""></option>
						{{#each locations}}
							<option value="{{slug}}" {{selected slug ../grader.location}}>{{name}}</option>
						{{/each}}
					</select>
				{{else}}
					<div class="value">{{getName locations ../grader.location}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="profession" class="{{#if editing}}control-label{{/if}}">Professional Background</label>
				{{#if editing}}
					<select name="grader.profession" id="profession" class="form-control">
						<option value=""></option>
						{{#each profs}}
							<option value="{{slug}}" {{selected slug ../grader.profession}}>{{name}}</option>
						{{/each}}
					</select>
				{{else}}
					<div class="value">{{getName profs ../grader.profession}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="experience" class="{{#if editing}}control-label{{/if}}">Experience Level</label>
				{{#if editing}}
					<select name="grader.experience" id="experience" class="form-control">
						<option value=""></option>
						{{#each exlevels}}
							<option value="{{slug}}" {{selected slug ../grader.experience}}>{{name}}</option>
						{{/each}}
					</select>
				{{else}}
					<div class="value">{{getName exlevels ../grader.experience}}</div>
				{{/if}}
			</div>
		</div><!-- .form-group grader -->
	</form>
	{{> grade-apps}}
	{{> logout}}
</template>