<template name="grade-app-single">
	{{> admin-menu}}
	{{> grade}}
	<div class="grade-app-wrap">
		<h3>Application Grading
		{{#with user}} - {{displayname}}{{/with}}
		</h3>
		{{> notifications}}
		<div class="field-group">
			<label for="status">Status</label>
			<div class="value" name="status">{{app.status}}</div>
		</div>
		{{#with user}}
			{{> display-personal-info}}
		{{/with}}
		{{#with app}}
			<h3 class="section-title">Education</h3>
				{{> display-education}}
			<h3 class="section-title">Qualifications</h3>
				{{> display-qualifications}}
			<h3 class="section-title">Professional Interests</h3>
				{{> display-professional}}
			<h3 class="section-title">Essays</h3>
				{{> display-essays}}

			<h3 class="section-title">Files</h3>
				{{> display-files}}
		{{/with}}
	</div>
</template>
<template name="grade-app-unauthorized">
	<h3>Uh oh! You do not have access to this app.</h3>
</template>

<template name="grade">
	<i class="grade-icon fa fa-pencil"></i>
	<div class="grade-wrap">
		<form id="grade-app" class="criteria">
			{{#each criteria}}
				<div class="criterion"><h4>{{title}} ({{weight}}%)
				{{#if hint}}
					<i class="fa fa-question-circle tooltip-trigger" title="{{{hint}}}"></i>
				{{/if}}
				</h4>
				{{#if factors}}
					<ul class="factors form-group" name="{{slug}}">
						{{#each factors}}
							<li>
								<label>{{title}} ({{weight}}%)
								{{#if hint}}
									<i class="fa fa-question-circle tooltip-trigger" title="{{{hint}}}"></i>
								{{/if}}
								</label>
								<input type="number" name="{{key}}" value="{{score}}"/>
							</li>
						{{/each}}
					</ul><!-- .factors -->
				{{else}}
					<div class="form-group">
						<input type="number" name="{{slug}}" value="{{score}}" />
					</div>
				{{/if}}
				</div>
			{{/each}}
			<input id="grade-save" class="btn btn-primary" type="submit" value="Save"/>
		</form>
	</div><!-- .grade-wrap -->
</template>