<template name="grader-profile">
	<h2>Profile</h2>
	{{> edit}}
	{{> notifications}}
	<form id="grader-profile" name="grader-profile" method="post" action="" data-id="{{id}}">
		<div class="form-group" name="profile.name">
			<div class="field-group">
				<label for="first" class="control-label">First Name</label>
				{{#if editing}}
					<input type="text" name="first" class="form-control" placeholder="First Name" value="{{profile.name.first}}" />
				{{else}}
					<div class="value">{{profile.name.first}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="last" class="control-label">Last Name</label>
				{{#if editing}}
					<input type="text" name="last" class="form-control" placeholder="Last Name" value="{{profile.name.last}}" />
				{{else}}
					<div class="value">{{profile.name.last}}</div>
				{{/if}}
			</div>
		</div><!--.form-group profile.name -->
		<div class="form-group" name="grader">
			<div class="field-group">
				<label for="limit" class="control-label">Limit number of apps</label>
				{{#if editing}}
					<input type="number" class="form-control" name="limit" value="{{grader.limit}}">
				{{else}}
					<div class="value">{{grader.limit}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="location" class="control-label">Location</label>
				{{#if editing}}
					<select name="location" id="location" class="form-contorl">
						<option value=""></option>
						{{#each locations}}
							<option value="{{slug}}" {{selected slug ../grader.location}}>{{name}}</option>
						{{/each}}
					</select>
				{{else}}
					<div class="value">{{../grader.location}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="professional" class="control-label">Professional Background</label>
				{{#if editing}}
					<select name="professional" id="professional" class="form-contorl">
						<option value=""></option>
						{{#each profs}}
							<option value="{{slug}}" {{selected slug ../grader.professional}}>{{name}}</option>
						{{/each}}
					</select>
				{{else}}
					<div class="value">{{../grader.professional}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="experience" class="control-label">Experience Level</label>
				{{#if editing}}
					<select name="experience" id="experience" class="form-contorl">
						<option value=""></option>
						{{#each exlevels}}
							<option value="{{slug}}" {{selected slug ../grader.experience}}>{{name}}</option>
						{{/each}}
					</select>
				{{else}}
					<div class="value">{{../grader.experience}}</div>
				{{/if}}
			</div>
		</div><!-- .form-group grader -->
	</form>
</template>