<template name="apply">
	<h1>Your Application</h1>
	<ul class="pagination">
		{{#each fragments}}
			<li data-name="{{name}}"><a href="{{name}}">{{index}}</a></li>
		{{/each}}
	</ul>
	<div class="form-container">
		<div class="form">
			{{#with app}}
				{{renderPage currentSection}}
			{{/with}}
		</div>
	</div>

	<a class="prev-fragment"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
	<a class="next-fragment"><span class="glyphicon glyphicon-chevron-right"></span>Next</a>
</template>

<template name="personal-info">
	<form id="personal-info" name="personal-info" class="fragment" method="post" action="">
	<h2>Personal Information</h2>
		{{#with user}}
			<div class="form-group" name="name">
				<label for="first" class="control-label">First Name</label>
				<input type="text" name="first" class="form-control" placeholder="Tri" value="{{name.first}}" />

				<label for="last" class="control-label">Last Name</label>
				<input type="text" name="last" class="form-control" placeholder="Nguyen" value="{{name.last}}" />

				<label for="middle" class="control-label">Middle Name</label>
				<input type="text" name="middle" class="form-control" placeholder="Thi Phuoc" value="{{name.middle}}" />
			</div>
			<div class="form-group">
				<label for="citizenship" class="control-label">Citizenship</label>
				<select name="citizenship" class="form-control">
				{{#each countries}}
					<option>{{name}}</option>
				{{/each}}
				</select>
			</div>
			<div class="form-group">
				<label for="tel" class="control-label">Phone number</label>
				<input type="tel" name="tel" class="form-control" placeholder="+84 934 132313"/>
			</div>
		{{/with}}
	</form>
</template>

<template name="education">
	<form id="education" name="education" class="fragment" method="post" action="">
	<h2>Education</h2>
		<div class="form-group">
			<label for="college" class="control-label">College/ University</label>
			<select class="form-control" id="college" name="college" placeholder="Select a College/ University">
			{{#each colleges}}
				<option value="{{slug}}" {{selected slug ../college}}>{{name}}</option>
			{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="major" class="control-label">Major</label>
			<select class="form-control" name="major" placeholder="Select a Major">
			{{#each majors}}
				<option value="{{slug}}">{{name}}</option>
			{{/each}}
			</select>
		</div>
	</form>
</template>

<template name="qualifications">
	<form id="qualifications" name="qualifications" class="fragment form-horitzontal" method="post" action="">
	<h2>Qualifications</h2>

		<div class="form-group" name="language">
			{{#each languages}}
				<label for="{{slug}}" class="control-label">Fluency in {{name}}</label>
				<select class="form-control" id="{{slug}}" name="{{slug}}">
					<option value="none">None</option>
					<option value="fluent">Fluent</option>
				</select>
			{{/each}}
		</div>

		<div class="form-group" name="sat">
			<h3>SAT Scores</h3>
			<label for="writing">Writing</label>
			<input type="number" name="writing" value="{{sat.writing}}"/>
			<label for="reading">Reading</label>
			<input type="number" name="reading" value="{{sat.reading}}"/>
			<label for="math">Math</label>
			<input type="number" name="math" value="{{sat.math}}"/>
		</div>
	</form>
</template>

<template name="professional">
	<form id="professional" name="professional" class="fragment" method="post" action="">
		<h2>Professional Interests</h2>
		<div class="form-group">
			<label class="control-label">Industries</label>
			{{#each industries}}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="industries" value="{{slug}}" {{checked slug ../industries}}>{{name}}
				</label>
			</div>
			{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="functions" class="control-label">Functions</label>
			{{#each functions}}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="functions" value="{{slug}}" {{checked slug ../functions}}>{{name}}
				</label>
			</div>
			{{/each}}
			</select>
		</div>
	</form>
</template>

<template name="passion">
	<form id="passion" name="passion" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group">
			<label for="essay-passion" class="control-label">Tell us about something you are passionate about</label>
			<textarea name="essay-passion" class="form-control">{{essay-passion}}</textarea>
			<span class="counter" id="passion-counter"></span><span> words remaining</span>
		</div>
	</form>
</template>

<template name="community">
	<form id="community" name="community" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group">
			<label for="essay-community" class="control-label">Have you had any community-oriented experience that shaped your perspective?</label>
			<textarea name="essay-commuity" class="form-control">{{essay-community}}</textarea>
			<span class="counter" id="community-counter"></span><span> words remaining</span>
		</div>
	</form>
</template>

<template name="leadership">
	<form id="leadership" name="leadership" class="fragment" method="post" action="">
		<h2>Essays</h2>
		<div class="form-group">
			<label for="essay-leadership" class="control-label">Are you more of a leader or a follower? Why do you think so?</label>
			<textarea name="essay-leadership" class="form-control">{{essay-leadership}}</textarea>
			<span class="counter" id="leadership-counter"></span><span> words remaining</span>
		</div>
	</form>
</template>

<template name="resume">
	<form id="resume" name="resume" class="fragment" method="post" action="">
		<h2>Resume</h2>
		<div class="form-group">
			<label for="file-resume" class="control-label">Please upload your resume</label>
			<input type='file' name="file-resume" id="file-resume">
			<button id="resume-submit">Submit</button>
		</div>
	</form>
</template>
