<template name="apply">
	<h1>Your Application</h1>
	{{> logout}}
	<ul class="pagination">
		{{#each fragments}}
			<li data-name="{{name}}"><a href="{{name}}">{{index}}</a></li>
		{{/each}}
	</ul>
	<div class="notifications"></div>
	<div class="form-container">
		<div class="form">
			{{#with app}}
				{{renderPage currentSection}}
			{{/with}}
		</div>
	</div>

	<a class="fragment-control prev"><div class="icon-wrap"><span class="glyphicon glyphicon-chevron-left"></span></div>Back</a>
	<a class="fragment-control next"><div class="icon-wrap"><span class="glyphicon glyphicon-chevron-right"></span></div>Next</a>

	<div class="app-actions">
		<button class="btn btn-default btn-lg" id="app-save">Save</button>
		<button class="btn btn-primary btn-lg" id="app-submit">Finish application <span class="glyphicon glyphicon-chevron-right"></span></button>
	</div><!-- .app-actions -->
</template>