<template name="layout">
	<div class="apply-container main-container">
		{{yield}}
	</div>
	<footer class="main-footer">
		<div class="help">
			<p>If you run into any technical problem, please <a href="mailto:recruitment@seo-vietnam.org?subject=SEO-Vietnam Application Support">contact us</a>.</p>
		</div>
	</footer>
</template>

<template name="admin-layout">
	<div class="admin-container main-container">
		{{yield}}
		<footer class="main-footer">
			<div>Admin page</div>
		</footer>
	</div><!-- .admin-container -->
</template>