<template name="layout">
	<div class="main-container">
		{{yield}}
	</div>
	<footer class="main-footer">
		<div class="help">
			<p>If you run into any technical problem, please <a href="mailto:recruitment@seo-vietnam.org?subject=SEO-Vietnam Application Support">contact us</a>.</p>
		</div>
	</footer>
</template>

<template name="admin-layout">
	<div class="main-container">
		<div class="admin-menu">
			{{> admin-menu}}
		</div><!-- .admin-menu -->
		<div class="admin-content">
			{{yield}}
		</div>
	</div><!-- .admin-container -->
	<footer class="main-footer">
		<div>Admin page</div>
	</footer>
</template>