<template name="login">
	<h2 class="page-header">Start your application process with us today</h2>
	<form class="login" id="login">
		<div class="form-group">
			<label for="email">Your email</label>
			<input type="email" name="email" class="login-email" autofocus="autofocus"/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="login-password"/>
		</div>
		<div class="notifications"></div>
		<input type="submit" class="btn btn-primary" id="register-button" value="Register">
		<input type="submit" class="btn btn-default" id="signin-button" value="Sign In">
		<a href="{{pathFor 'forgot-password'}}">Forgot your password?</a>
	</form>
</template>

<template name="forgot-password">
	<h2 class="page-header">Forgot your password?</h2>
	<div class="notifications"></div>
	<form class="login" id="forgot-password">
		<div class="form-group">
			<label for="email">Your email</label>
			<input type="email" name="email" class="login-email" autofocus="autofocus"/>
		</div>
		<div>An email will be sent to you to reset your password</div>
		<input type="submit" class="btn btn-primary" id="forgot-button" value="Reset Password">
	</form>
</template>

<template name="reset-password">
	<h2 class="page-header">Reset your password</h2>
	<div class="notifications"></div>
	<form class="login" id="reset-password" data-token="{{token}}">
		<div class="form-group">
			<label for="password">Your new password</label>
			<input type="password" name="password" class="login-password" autofocus="autofocus" />
		</div>
		<input type="submit" class="btn btn-primary" id="reset-button" value="Change Password">
	</form>
</template>