<template name="login">
	<h1>Start your application process with us today</h1>
	<div class="login">
		<label for="email">Your email</label>
		<input type="email" name="email"/>
		<label for="password">Password</label>
		<input type="password" name="password"/>
		<button type="submit" class="btn btn-primary" id="login">Log In</button>
	</div>

	<p>If you're new, enter your email address to start</p>
	<label for="email">Your email</label>
	<input type="email" name="email"/>
	<button type="submit" class="btn btn-success" id="start">Start</button>
</template>