<template name="profile">
	<div class="profile">
		{{> logout}}

		{{#with currentUser}}
			<h1 class="title">{{displayname}}</h1>
			<div class="field-group">
			<label for="email">Email</label>
			<div class="value">{{email}}</div>
			</div>
		{{/with}}
		{{#with app}}
			<h2 class="section-title">Education</h2>
			<div class="field-group">
				<label for="college">College/ University</label>
				<div class="value">{{{getValue 'college'}}}</div>
			</div>
			<div class="field-group">
				<label for="major">Major</label>
				<div class="value">{{{getValue 'major'}}}</div>
			</div>
			<h2 class="section-title">Qualifications</h2>
			<h4>SAT</h4>
			<div class="field-group">
				<label for="sat-writing">Writing</label>
				<div class="value">{{sat.writing}}</div>
			</div>
			<div class="field-group">
				<label for="sat-reading">Reading</label>
				<div class="value">{{sat.reading}}</div>
			</div>
			<div class="field-group">
				<label for="sat-math">Math</label>
				<div class="value">{{sat.math}}</div>
			</div>
			</div>
			<div class="field-group">
				<h4>Language Proficiency</h4>
				<div>
					<label>Fluent</label>
					<div class="value">{{{getLanguage language 'fluent'}}}</div>
				</div>
				<div>
					<label>Basic understanding</label>
					<div class="value">{{{getLanguage language 'basic'}}}</div>
				</div>

			</div>
			<h2 class="section-title">Professional Interests</h2>
			<div class="field-group">
				<label for="industry">Industries</label>
				<div class="value">{{{getValue 'industry'}}}</div>
			</div>
			<div class="field-group">
				<label for="profession">Professions</label>
				<div class="value">{{{getValue 'profession'}}}</div>
			</div>
			<h2 class="section-title">Essays</h2>
			<div class="field-group essay">
				<label for="essay-passion">Tell us about something you are passionate about</label>
				<div class="value">{{{text essay-passion}}}</div>
			</div>
			<div class="field-group essay">
				<label for="essay-community">Have you had any community-oriented experience that shaped your perspective?</label>
				<div class="value">{{{text essay-community}}}</div>
			</div>
			<div class="field-group essay">
				<label for="essay-leadership">Are you more of a leader or a follower? Why do you think so?</label>
				<div class="value">{{{text essay-leadership}}}</div>
			</div>

			<h3 class="section-title">Essays</h3>
			<div class="field-group">
				<label for="resume">Resume</label>
				<div class="value">
				{{#isEmpty file-resume}}
					You have not uploaded your resume yet.
				{{else}}
					<a href="{{file-resume.url}}" class="btn">View your uploaded resume</a>
				{{/isEmpty}}
				</div>

			</div>
		{{/with}}

		<button class="btn btn-info" id="edit-app">Edit your application</button>
	</div>
</template>