<template name="profile">
	<div class="profile">
		<h1>Your Profile</h1>
		{{#with currentUser}}
			<h2>{{displayname}}</h2>
			<div class="field-group">
			<label for="email">Email</label>
			{{email}}
			</div>
		{{/with}}
		{{#with app}}
			<h3>Education</h3>
			<div class="field-group">
				<label for="college">College/ University</label>
				{{college}}
			</div>
			<div class="field-group">
				<label for="major">Major</label>
				{{getMajorName major}}
			</div>
			<h3>Qualifications</h3>
			<div class="field-group">
				<h4>SAT</h4>
				<label for="sat-writing">Writing</label>
				{{sat.writing}}
				<label for="sat-reading">Reading</label>
				{{sat.reading}}
				<label for="sat-math">Math</label>
				{{sat.math}}
			</div>
			<div class="field-group">
				<h4>Language Proficiency</h4>
				{{{displayLanguage language}}}
			</div>
			<h3>Professional Interests</h3>
			<div class="field-group">
				<label for="industries">Industries</label>
				<ul>
				{{#each industries}}
					<li>
					{{getIndustryName this}}
					</li>
				{{/each}}
				</ul>
			</div>
			<div class="field-group">
				<label for="functions">Functions</label>
				<ul>
				{{#each functions}}
					<li>
					{{getFunctionName this}}
					</li>
				{{/each}}
				</ul>
			</div>
			<h3>Essays</h3>
			<div class="field-group">
				<label for="essay-passion">Tell us about something you are passionate about</label>
				<div>{{essay-passion}}</div>
			</div>
			<div class="field-group">
				<label for="essay-community">Have you had any community-oriented experience that shaped your perspective?</label>
				<div>{{essay-community}}</div>
			</div>
			<div class="field-group">
				<label for="essay-leadership">Are you more of a leader or a follower? Why do you think so?</label>
				<div>{{essay-leadership}}</div>
			</div>

			<h3>Essays</h3>
			<div class="field-group">
				<label for="resume">Resume</label>
				{{debug file-resume}}
				{{#isEmpty file-resume}}
					<span>You have not uploaded your resume yet.</span>
				{{else}}
					<a href="{{file-resume.url}}" class="btn">View your uploaded resume</a>
				{{/isEmpty}}

			</div><!-- .field-group -->
		{{/with}}

		<button class="btn btn-info" id="edit-app">Edit your application</button>
	</div>
</template>