<template name="education">
	{{#with app}}
	<form id="education" name="education" class="fragment" method="post" action="">
	<h2>Education</h2>
		<div class="form-group">
			<label for="college" class="control-label">College/ University</label>
			<select class="form-control" id="college" name="college" placeholder="Select a College/ University">
				<option value="">Select a College/ University</option>
			{{#each colleges}}
				<option value="{{slug}}" {{selected slug ../college}}>{{name}}</option>
			{{/each}}
			</select>
		</div>
		{{#with 'college'}}
			{{> add-own-content}}
		{{/with}}
		<div class="form-group">
			<label for="graduation-date" class="control-label">Graduation Date (expected)</label>
			<input type="number" name="graduation-date" placeholder="2014" value="{{graduation-date}}"/>
		</div>
		<div class="form-group">
			<label for="degree" class="control-label">Highest Degree (obtained or pursuing)</label>
			<select class="form-control" name="degree">
				<option value="">Select a Degree</option>
				{{#each degrees}}
					<option value="{{slug}}" {{selected slug ../degree}}>{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="major" class="control-label">Major(s)</label>
			{{#each majors}}
				<div class="checkbox">
				<label>
					<input type="checkbox" name="major" value="{{slug}}" {{checked slug ../major}}>{{name}}
				</label>
			</div>
			{{/each}}
		</div>
		{{#with 'major'}}
			{{> add-own-content}}
		{{/with}}
	</form>
	{{/with}}
</template>