<template name="interviewer-profile">
	<h2>Interviewer Profile</h2>
	{{> notifications}}
	{{> logout}}
	{{> edit}}
	<form id="interviewer-profile" name="interviewer-profile" method="post" action="" data-interviewerid="{{interviewerId}}">
		<div class="form-group" name="profile.name">
			<div class="field-group">
				<label for="first" class="{{#if editing}}control-label{{/if}}">First Name</label>
				{{#if editing}}
					<input type="text" name="first" class="form-control" placeholder="First Name" value="{{profile.name.first}}" />
				{{else}}
					<div class="value">{{profile.name.first}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="last" class="{{#if editing}}control-label{{/if}}">Last Name</label>
				{{#if editing}}
					<input type="text" name="last" class="form-control" placeholder="Last Name" value="{{profile.name.last}}" />
				{{else}}
					<div class="value">{{profile.name.last}}</div>
				{{/if}}
			</div>
		</div><!--.form-group profile.name -->
		<div class="form-group">
			<div class="field-group">
				<label for="interviewer.limit" class="{{#if editing}}control-label{{/if}}">Limit number of apps</label>
				{{#if editing}}
					<input type="number" class="form-control" name="interviewer.limit" value="{{interviewer.limit}}">
				{{else}}
					<div class="value">{{interviewer.limit}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="location" class="{{#if editing}}control-label{{/if}}">Location</label>
				{{#if editing}}
					<select name="interviewer.location" id="location" class="form-control">
						<option value=""></option>
						{{#each locations}}
							<option value="{{slug}}" {{selected slug ../interviewer.location}}>{{name}}</option>
						{{/each}}
					</select>
				{{else}}
					<div class="value">{{getName locations ../interviewer.location}}</div>
				{{/if}}
			</div>
			<div class="field-group">
				<label for="interviewer.profession" class="{{#if editing}}control-label{{/if}}">Professional Background</label>
				{{#if editing}}
					<select name="interviewer.profession" id="profession" class="form-control">
						<option value=""></option>
						{{#each profs}}
							<option value="{{slug}}" {{selected slug ../interviewer.profession}}>{{name}}</option>
						{{/each}}
					</select>
				{{else}}
					<div class="value">{{getName profs ../interviewer.profession}}</div>
				{{/if}}
			</div>
		</div><!-- .form-group interviewer -->
	</form>
	{{> grade-apps}}
	{{> logout}}
</template>